# 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
path = r'C:\Users\Brooke\05-2022 Instacart Basket Analysis'

In [3]:
# importing new_orders_products data
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'new_orders_products.pkl'))

In [4]:
# creating subset
df = ords_prods_merge[:1000000]

In [5]:
# check shape
df.shape

(1000000, 19)

In [6]:
#check dataframe
df.head(10)

,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,has_prior_orders,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,2539329,1,2,8,NaN,False,196,1,0,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders
1,1,2539329,1,2,8,NaN,False,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Regularly busy,Average Orders
2,1,2539329,1,2,8,NaN,False,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Regularly busy,Average Orders
3,1,2539329,1,2,8,NaN,False,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Regularly busy,Average Orders
4,1,2539329,1,2,8,NaN,False,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Regularly busy,Average Orders
5,1,2398795,2,3,7,15.0,True,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Least busy days,Average Orders
6,1,2398795,2,3,7,15.0,True,10258,2,0,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Least busy days,Average Orders
7,1,2398795,2,3,7,15.0,True,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Least busy days,Average Orders
8,1,2398795,2,3,7,15.0,True,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Regularly busy,Least busy days,Average Orders
9,1,2398795,2,3,7,15.0,True,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Least busy days,Average Orders

# 03. Grouping Data

In [7]:
df.groupby('product_name')

In [8]:
# mean of order_number
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              14.792915
2.0              17.091743
3.0              17.919589
4.0              17.891973
5.0              15.214270
6.0              15.382228
7.0              17.699986
8.0              16.485269
9.0              15.965921
10.0             20.091818
11.0             16.485395
12.0             15.615845
13.0             16.485052
14.0             17.523474
15.0             15.690354
16.0             18.014342
17.0             16.155822
18.0             19.606536
19.0             17.630236
20.0             17.138204
21.0             21.996844

In [9]:
df.groupby('department_id')['order_number'].mean()

department_id
1.0     14.792915
2.0     17.091743
3.0     17.919589
4.0     17.891973
5.0     15.214270
6.0     15.382228
7.0     17.699986
8.0     16.485269
9.0     15.965921
10.0    20.091818
11.0    16.485395
12.0    15.615845
13.0    16.485052
14.0    17.523474
15.0    15.690354
16.0    18.014342
17.0    16.155822
18.0    19.606536
19.0    17.630236
20.0    17.138204
21.0    21.996844
Name: order_number, dtype: float64

In [10]:
# mean, min, and max of order_number
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1.0              14.792915   1  99
2.0              17.091743   1  98
3.0              17.919589   1  99
4.0              17.891973   1  99
5.0              15.214270   1  99
6.0              15.382228   1  99
7.0              17.699986   1  99
8.0              16.485269   1  91
9.0              15.965921   1  99
10.0             20.091818   1  99
11.0             16.485395   1  99
12.0             15.615845   1  99
13.0             16.485052   1  99
14.0             17.523474   1  99
15.0             15.690354   1  99
16.0             18.014342   1  99
17.0             16.155822   1  99
18.0             19.606536   1  99
19.0             17.630236   1  99
20.0             17.138204   1  99
21.0             21.996844   1  97

In [13]:
# create max_order column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
# check results
ords_prods_merge.head(15)

,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,has_prior_orders,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,2539329,1,2,8,NaN,False,196,1,0,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10
1,1,2539329,1,2,8,NaN,False,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Regularly busy,Average Orders,10
2,1,2539329,1,2,8,NaN,False,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Regularly busy,Average Orders,10
3,1,2539329,1,2,8,NaN,False,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Regularly busy,Average Orders,10
4,1,2539329,1,2,8,NaN,False,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Regularly busy,Average Orders,10
5,1,2398795,2,3,7,15.0,True,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Least busy days,Average Orders,10
6,1,2398795,2,3,7,15.0,True,10258,2,0,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Least busy days,Average Orders,10
7,1,2398795,2,3,7,15.0,True,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Least busy days,Average Orders,10
8,1,2398795,2,3,7,15.0,True,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Regularly busy,Least busy days,Average Orders,10
9,1,2398795,2,3,7,15.0,True,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Least busy days,Average Orders,10
10,1,2398795,2,3,7,15.0,True,13032,6,0,both,Cinnamon Toast Crunch,121.0,14.0,4.0,Low-range product,Regularly busy,Least busy days,Average Orders,10
11,1,473747,3,3,12,21.0,True,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Least busy days,Most Orders,10
12,1,473747,3,3,12,21.0,True,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Least busy days,Most Orders,10
13,1,473747,3,3,12,21.0,True,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Least busy days,Most Orders,10
14,1,473747,3,3,12,21.0,True,25133,4,0,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Regularly busy,Least busy days,Most Orders,10

In [17]:
ords_prods_merge.head(100)

,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,has_prior_orders,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,2539329,1,2,8,NaN,False,196,1,0,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10
1,1,2539329,1,2,8,NaN,False,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Regularly busy,Average Orders,10
2,1,2539329,1,2,8,NaN,False,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Regularly busy,Average Orders,10
3,1,2539329,1,2,8,NaN,False,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Regularly busy,Average Orders,10
4,1,2539329,1,2,8,NaN,False,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Regularly busy,Average Orders,10
5,1,2398795,2,3,7,15.0,True,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Least busy days,Average Orders,10
6,1,2398795,2,3,7,15.0,True,10258,2,0,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Least busy days,Average Orders,10
7,1,2398795,2,3,7,15.0,True,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Least busy days,Average Orders,10
8,1,2398795,2,3,7,15.0,True,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Regularly busy,Least busy days,Average Orders,10
9,1,2398795,2,3,7,15.0,True,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Least busy days,Average Orders,10
10,1,2398795,2,3,7,15.0,True,13032,6,0,both,Cinnamon Toast Crunch,121.0,14.0,4.0,Low-range product,Regularly busy,Least busy days,Average Orders,10
11,1,473747,3,3,12,21.0,True,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Least busy days,Most Orders,10
12,1,473747,3,3,12,21.0,True,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Least busy days,Most Orders,10
13,1,473747,3,3,12,21.0,True,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Least busy days,Most Orders,10
14,1,473747,3,3,12,21.0,True,25133,4,0,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Regularly busy,Least busy days,Most Orders,10
15,1,473747,3,3,12,21.0,True,30450,5,0,both,Creamy Almond Butter,88.0,13.0,3.2,Low-range product,Regularly busy,Least busy days,Most Orders,10
16,1,2254736,4,4,7,29.0,True,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Least busy,Least busy days,Average Orders,10
17,1,2254736,4,4,7,29.0,True,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Least busy,Least busy days,Average Orders,10
18,1,2254736,4,4,7,29.0,True,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low-range product,Least busy,Least busy days,Average Orders,10
19,1,2254736,4,4,7,29.0,True,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Least busy,Least busy days,Average Orders,10
20,1,2254736,4,4,7,29.0,True,26405,5,1,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Least busy,Least busy days,Average Orders,10
21,1,431534,5,4,15,28.0,True,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Least busy,Least busy days,Most Orders,10
22,1,431534,5,4,15,28.0,True,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Least busy,Least busy days,Most Orders,10
23,1,431534,5,4,15,28.0,True,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low-range product,Least busy,Least busy days,Most Orders,10
24,1,431534,5,4,15,28.0,True,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Least busy,Least busy days,Most Orders,10
25,1,431534,5,4,15,28.0,True,10326,5,0,both,Organic Fuji Apples,24.0,4.0,2.7,Low-range product,Least busy,Least busy days,Most Orders,10
26,1,431534,5,4,15,28.0,True,17122,6,0,both,Honeycrisp Apples,24.0,4.0,14.0,Mid-range product,Least busy,Least busy days,Most Orders,10
27,1,431534,5,4,15,28.0,True,41787,7,0,both,Bartlett Pears,24.0,4.0,5.0,Low-range product,Least busy,Least busy days,Most Orders,10
28,1,431534,5,4,15,28.0,True,13176,8,1,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Least busy,Least busy days,Most Orders,10
29,1,3367565,6,2,7,19.0,True,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10
30,1,3367565,6,2,7,19.0,True,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Regularly busy,Average Orders,10
31,1,3367565,6,2,7,19.0,True,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Regularly busy,Average Orders,10
32,1,3367565,6,2,7,19.0,True,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Regularly busy,Regularly busy,Average Orders,10
33,1,550135,7,1,9,20.0,True,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Busiest days,Most Orders,10
34,1,550135,7,1,9,20.0,True,10258,2,1,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Busiest days,Most Orders,10
35,1,550135,7,1,9,20.0,True,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Busiest days,Most Orders,10
36,1,550135,7,1,9,20.0,True,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Regularly busy,Busiest days,Most Orders,10
37,1,550135,7,1,9,20.0,True,13032,5,1,both,Cinnamon Toast Crunch,121.0,14.0,4.0,Low-range product,Regularly busy,Busiest days,Most Orders,10
38,1,3108588,8,1,14,14.0,True,12427,1,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Busiest days,Most Orders,10
39,1,3108588,8,1,14,14.0,True,196,2,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Busiest days,Most Orders,10
40,1,3108588,8,1,14,14.0,True,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Busiest days,Most Orders,10
41,1,3108588,8,1,14,14.0,True,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Regularly busy,Busiest days,Most Orders,10
42,1,3108588,8,1,14,14.0,True,46149,5,0,both,Zero Calorie Cola,77.0,7.0,13.4,Mid-range product,Regularly busy,Busiest days,Most Orders,10
43,1,3108588,8,1,14,14.0,True,49235,6,0,both,Organic Half & Half,53.0,16.0,1.8,Low-range product,Regularly busy,Busiest days,Most Orders,10
44,1,2295261,9,1,16,0.0,True,49235,1,1,both,Organic Half & Half,53.0,16.0,1.8,Low-range product,Regularly busy,Busiest days,Most Orders,10
45,1,2295261,9,1,16,0.0,True,46149,2,1,both,Zero Calorie Cola,77.0,7.0,13.4,Mid-range product,Regularly busy,Busiest days,Most Orders,10
46,1,2295261,9,1,16,0.0,True,25133,3,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Regularly busy,Busiest days,Most Orders,10
47,1,2295261,9,1,16,0.0,True,196,4,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Busiest days,Most Orders,10
48,1,2295261,9,1,16,0.0,True,10258,5,1,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Busiest days,Most Orders,10
49,1,2295261,9,1,16,0.0,True,12427,6,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Busiest days,Most Orders,10
50,1,2550362,10,4,8,30.0,True,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Least busy,Least busy days,Average Orders,10
51,1,2550362,10,4,8,30.0,True,46149,2,1,both,Zero Calorie Cola,77.0,7.0,13.4,Mid-range product,Least busy,Least busy days,Average Orders,10
52,1,2550362,10,4,8,30.0,True,39657,3,0,both,Milk Chocolate Almonds,45.0,19.0,6.8,Mid-range product,Least busy,Least busy days,Average Orders,10
53,1,2550362,10,4,8,30.0,True,38928,4,0,both,0% Greek Strained Yogurt,120.0,16.0,12.6,Mid-range product,Least busy,Least busy days,Average Orders,10
54,1,2550362,10,4,8,30.0,True,25133,5,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Least busy,Least busy days,Average Orders,10
55,1,2550362,10,4,8,30.0,True,10258,6,1,both,Pistachios,117.0,19.0,3.0,Low-range product,Least busy,Least busy days,Average Orders,10
56,1,2550362,10,4,8,30.0,True,35951,7,0,both,Organic Unsweetened Almond Milk,91.0,16.0,1.3,Low-range product,Least busy,Least busy days,Average Orders,10
57,1,2550362,10,4,8,30.0,True,13032,8,1,both,Cinnamon Toast Crunch,121.0,14.0,4.0,Low-range product,Least busy,Least busy days,Average Orders,10
58,1,2550362,10,4,8,30.0,True,12427,9,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Least busy,Least busy days,Average Orders,10
59,2,2168274,1,2,11,NaN,False,32792,1,0,both,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
60,2,2168274,1,2,11,NaN,False,47766,2,0,both,Organic Avocado,24.0,4.0,6.3,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
61,2,2168274,1,2,11,NaN,False,20574,3,0,both,Roasted Turkey,96.0,20.0,2.3,Low-range product,Regularly busy,Regularly busy,Most Orders,14
62,2,2168274,1,2,11,NaN,False,12000,4,0,both,Baked Organic Sea Salt Crunchy Pea Snack,72.0,13.0,10.9,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
63,2,2168274,1,2,11,NaN,False,48110,5,0,both,Thin Stackers Brown Rice Lightly Salted,78.0,19.0,2.7,Low-range product,Regularly busy,Regularly busy,Most Orders,14
64,2,2168274,1,2,11,NaN,False,22474,6,0,both,Cheddar Bunnies Snack Crackers,78.0,19.0,4.1,Low-range product,Regularly busy,Regularly busy,Most Orders,14
65,2,2168274,1,2,11,NaN,False,16589,7,0,both,Plantain Chips,107.0,19.0,5.0,Low-range product,Regularly busy,Regularly busy,Most Orders,14
66,2,2168274,1,2,11,NaN,False,35917,8,0,both,Organic Just Concord Grape Juice,98.0,7.0,9.4,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
67,2,2168274,1,2,11,NaN,False,27344,9,0,both,Uncured Genoa Salami,96.0,20.0,14.8,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
68,2,2168274,1,2,11,NaN,False,30489,10,0,both,Original Hummus,67.0,20.0,7.5,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
69,2,2168274,1,2,11,NaN,False,27966,11,0,both,Organic Raspberries,123.0,4.0,4.4,Low-range product,Regularly busy,Regularly busy,Most Orders,14
70,2,2168274,1,2,11,NaN,False,13176,12,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
71,2,2168274,1,2,11,NaN,False,45066,13,0,both,Honeycrisp Apple,24.0,4.0,2.5,Low-range product,Regularly busy,Regularly busy,Most Orders,14
72,2,1501582,2,5,10,10.0,True,16797,1,0,both,Strawberries,24.0,4.0,1.3,Low-range product,Regularly busy,Regularly busy,Most Orders,14
73,2,1501582,2,5,10,10.0,True,47526,2,0,both,Goat Cheese Log,21.0,16.0,2.0,Low-range product,Regularly busy,Regularly busy,Most Orders,14
74,2,1501582,2,5,10,10.0,True,8479,3,0,both,Original Black Box Tablewater Cracker,78.0,19.0,3.5,Low-range product,Regularly busy,Regularly busy,Most Orders,14
75,2,1501582,2,5,10,10.0,True,47766,4,1,both,Organic Avocado,24.0,4.0,6.3,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
76,2,1501582,2,5,10,10.0,True,19051,5,0,both,"Pita Chips, Simply Naked, Party Size",107.0,19.0,3.9,Low-range product,Regularly busy,Regularly busy,Most Orders,14
77,2,1501582,2,5,10,10.0,True,8138,6,0,both,Traditional Hummus,67.0,20.0,2.0,Low-range product,Regularly busy,Regularly busy,Most Orders,14
78,2,1901567,3,1,10,3.0,True,47766,1,1,both,Organic Avocado,24.0,4.0,6.3,Mid-range product,Regularly busy,Busiest days,Most Orders,14
79,2,1901567,3,1,10,3.0,True,32792,2,1,both,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,Mid-range product,Regularly busy,Busiest days,Most Orders,14
80,2,1901567,3,1,10,3.0,True,20574,3,1,both,Roasted Turkey,96.0,20.0,2.3,Low-range product,Regularly busy,Busiest days,Most Orders,14
81,2,1901567,3,1,10,3.0,True,7781,4,0,both,Organic Sticks Low Moisture Part Skim Mozzarel...,21.0,16.0,6.6,Mid-range product,Regularly busy,Busiest days,Most Orders,14
82,2,1901567,3,1,10,3.0,True,28874,5,0,both,Carrot Ginger Soup,1.0,20.0,6.2,Mid-range product,Regularly busy,Busiest days,Most Orders,14
83,2,738281,4,2,10,8.0,True,49451,1,0,both,Artichoke Spinach Dip,67.0,20.0,7.1,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
84,2,738281,4,2,10,8.0,True,32792,2,1,both,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
85,2,738281,4,2,10,8.0,True,32139,3,0,both,Hommus Classic Original,67.0,20.0,7.5,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
86,2,738281,4,2,10,8.0,True,34688,4,0,both,Good Belly Probiotics Juice Drink Blueberry Ac...,31.0,7.0,5.8,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
87,2,738281,4,2,10,8.0,True,36735,5,0,both,Organic Roasted Sliced Chicken Breast,96.0,20.0,8.9,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
88,2,738281,4,2,10,8.0,True,37646,6,0,both,Organic Gala Apples,24.0,4.0,9.1,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
89,2,738281,4,2,10,8.0,True,22829,7,0,both,Multigrain Flax Seeded Flatbread Crackers,78.0,19.0,5.5,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
90,2,738281,4,2,10,8.0,True,24852,8,0,both,Banana,24.0,4.0,12.3,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
91,2,738281,4,2,10,8.0,True,47209,9,0,both,Organic Hass Avocado,24.0,4.0,4.0,Low-range product,Regularly busy,Regularly busy,Most Orders,14
92,2,738281,4,2,10,8.0,True,33276,10,0,both,Kalamata Olive Spread,67.0,20.0,10.8,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
93,2,738281,4,2,10,8.0,True,45613,11,0,both,Pad Thai,38.0,1.0,12.6,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
94,2,738281,4,2,10,8.0,True,9681,12,0,both,Chicken Tikka Masala with Cumin Infused Basmat...,38.0,1.0,2.0,Low-range product,Regularly busy,Regularly busy,Most Orders,14
95,2,738281,4,2,10,8.0,True,21150,13,0,both,Fire Grilled Steak Bowl,38.0,1.0,5.9,Mid-range product,Regularly busy,Regularly busy,Most Orders,14
96,2,1673511,5,3,11,8.0,True,47144,1,0,both,Unsweetened Original Almond Breeze Almond Milk,91.0,16.0,14.0,Mid-range product,Regularly busy,Least busy days,Most Orders,14
97,2,1673511,5,3,11,8.0,True,5322,2,0,both,Gluten Free Dark Chocolate Chunk Chewy with a ...,3.0,19.0,2.9,Low-range product,Regularly busy,Least busy days,Most Orders,14
98,2,1673511,5,3,11,8.0,True,17224,3,0,both,Oats & Honey Gluten Free Granola,3.0,19.0,1.6,Low-range product,Regularly busy,Least busy days,Most Orders,14
99,2,1673511,5,3,11,8.0,True,38656,4,0,both,Gluten Free Peanut Butter Dark Chocolate Chewy...,3.0,19.0,3.4,Low-range product,Regularly busy,Least busy days,Most Orders,14

In [16]:
pd.options.display.max_rows = None

In [18]:
# creating loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [20]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [22]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891507
Loyal customer      10294027
New customer         6249525
Name: loyalty_flag, dtype: int64

In [23]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

In [25]:
#export data
ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_merge.pkl'))