# 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Importing Data

In [2]:
path = r'C:\Users\Brooke\05-2022 Instacart Basket Analysis'

In [19]:
# Importing order_products_prior data
df_ords_prior= pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'order_products__prior.csv'))

In [21]:
# Importing orders_checked data
df_ords = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_checked.csv'))

In [26]:
#Importing products_checked data
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'))

In [10]:
# check the output 
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
#check the output
df_ords.head()

,Unnamed: 0,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,has_prior_orders
0,0,1,2539329,1,2,8,NaN,False
1,1,1,2398795,2,3,7,15.0,True
2,2,1,473747,3,3,12,21.0,True
3,3,1,2254736,4,4,7,29.0,True
4,4,1,431534,5,4,15,28.0,True

In [27]:
# Check the output
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
# check shape
df_ords_prior.shape

(32434489, 4)

In [13]:
#check shape
df_ords.shape

(3421083, 8)

In [28]:
# check shape
df_prods.shape

(49672, 6)

# 03. Merging Data

In [14]:
#merge dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [15]:
#check merge
df_merged_large.head()

,Unnamed: 0,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,has_prior_orders,product_id,add_to_cart_order,reordered,_merge
0,0,1,2539329,1,2,8,NaN,False,196,1,0,both
1,0,1,2539329,1,2,8,NaN,False,14084,2,0,both
2,0,1,2539329,1,2,8,NaN,False,12427,3,0,both
3,0,1,2539329,1,2,8,NaN,False,26088,4,0,both
4,0,1,2539329,1,2,8,NaN,False,26405,5,0,both

In [17]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [23]:
#export merged data to pickle
df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))

In [25]:
#check shape
df_merged_large.shape

(32434489, 12)

In [32]:
# merge new dataframe with product dataframe
df_prods_merged = df_merged_large.merge(df_prods, on = 'product_id', how = 'left')

In [34]:
#check merge
df_prods_merged['_merge'].value_counts()

both          32435059
left_only            0
right_only           0
Name: _merge, dtype: int64

In [35]:
#export to pickle
df_prods_merged.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged.pkl'))