# 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 02. Importing Data

In [4]:
#importing customers data set
df = pd.read_csv(r'C:\Users\Brooke\05-2022 Instacart Basket Analysis\Data\Original Data\customers.csv', index_col = False)

In [6]:
#check data
df.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [7]:
df.shape

(206209, 10)

In [29]:
#importing grouped data
df_2 = pd.read_pickle(r'C:\Users\Brooke\05-2022 Instacart Basket Analysis\Data\Prepared Data\grouped data.pkl')

In [30]:
#check data 
df_2.head()

,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,has_prior_orders,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_prices,spending_flag,median_days_since_prior_order,frequency_flag
0,1,2539329,1,2,8,NaN,False,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,1,2539329,1,2,8,NaN,False,14084,2,0,...,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,1,2539329,1,2,8,NaN,False,12427,3,0,...,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,1,2539329,1,2,8,NaN,False,26088,4,0,...,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,1,2539329,1,2,8,NaN,False,26405,5,0,...,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [34]:
df_2['user_id'].dtype

dtype('int64')

In [35]:
#change data type for user_id to string
df_2['user_id'] = df_2['user_id'].astype('str')

# 03. Wrangling Data

In [8]:
#renaming columns
df.rename(columns = {'Surnam' : 'Last Name'}, inplace = True)

In [12]:
df.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)

In [10]:
df.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [13]:
#Check names
df.columns

Index(['user_id', 'First Name', 'Last Name', 'Gender', 'STATE', 'Age',
       'date_joined', 'number_of_dependants', 'marital_status', 'income'],
      dtype='object')

# 04. Consistency Checks

In [14]:
# check basic statistics of data
df.describe()

             user_id            Age  number_of_dependants         income
count  206209.000000  206209.000000         206209.000000  206209.000000
mean   103105.000000      49.501646              1.499823   94632.852548
std     59527.555167      18.480962              1.118433   42473.786988
min         1.000000      18.000000              0.000000   25903.000000
25%     51553.000000      33.000000              0.000000   59874.000000
50%    103105.000000      49.000000              1.000000   93547.000000
75%    154657.000000      66.000000              3.000000  124244.000000
max    206209.000000      81.000000              3.000000  593901.000000

In [15]:
#changing user_id data type to string
df['user_id'] = df['user_id'].astype('str')

In [16]:
#check type
df['user_id'].dtype

dtype('O')

In [18]:
#check for mixed types
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

First Name

In [19]:
#fix mix type for First Name
df['First Name'] = df['First Name'].astype('str')

In [20]:
#check type
df['First Name'].dtype

dtype('O')

In [22]:
#check for missing values
df.isnull().sum()

user_id                 0
First Name              0
Last Name               0
Gender                  0
STATE                   0
Age                     0
date_joined             0
number_of_dependants    0
marital_status          0
income                  0
dtype: int64

In [23]:
#check for duplicates
df_dups = df[df.duplicated()]

In [24]:
df_dups

Empty DataFrame
Columns: [user_id, First Name, Last Name, Gender, STATE, Age, date_joined, number_of_dependants, marital_status, income]
Index: []

# 05. Merging Data

In [37]:
#merging customer data with orders and products data
df_merged = df.merge(df_2, on = ['user_id'], how = 'right')

In [38]:
#check data 
df_merged.head()

,user_id,First Name,Last Name,Gender,STATE,Age,date_joined,number_of_dependants,marital_status,income,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_prices,spending_flag,median_days_since_prior_order,frequency_flag
0,1,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,...,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,1,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,...,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,1,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,...,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,1,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,...,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,1,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,...,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [39]:
df_merged.shape

(32435059, 34)

# 06. Exporting Data

In [40]:
df_merged.to_pickle(r'C:\Users\Brooke\05-2022 Instacart Basket Analysis\Data\Prepared Data\task 4.9 pt1.pkl')